<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587737831333-n80c950ubqk078s1jqd5fqht50cd6r02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587737831333-n80c950ubqk078s1jqd5fqht50cd6r02</string>
	<key>API_KEY</key>
	<string>AIzaSyBb_88i5c38rOcwCmqRdV-Xh_nIOdxxnT8</string>
	<key>GCM_SENDER_ID</key>
	<string>587737831333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-af54d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-af54d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587737831333:ios:a2c4bf884516b4eec8fa4c</string>
</dict>
</plist>